{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <h1 class="h1 text-center">Editer d'une annonce</h1>
            {% include 'partials/_publication_form.html.twig' %}

    </div>
{% endblock %}
