{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<div class="row">
        {% for publication in publications %}
            <div class="row">
                <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="http://placehold.it/150x150" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{publication.title}}</h5>
                <p class="card-text">{{publication.description}}</p>
                <a href="#" class="mt-3 btn btn-primary">Go somewhere</a>
                </div>
                </div>
            </div>
        {%  endfor %}
			<div class="row d-flex justify-content-center">

				<button type="submit" class="btn btn-secondary">S'inscrire</button>
			</div>
		</div>
	</div>
{% endblock %}
